body {
  background-color: lightblue;
}
h1 {
  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  background-color: yellow;
}
div {
  background-color: green;
  opacity: 0.3;
}
div {
  background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}

body {
  background-image: url("paper.gif");
}
p {
  background-image: url("paper.gif");
}
body {
  background-image: url("gradient_bg.png");
}
body {
  background-image: url("gradient_bg.png");
  background-repeat: repeat-x;
}
body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
}
body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
}
body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}
body {
  background-color: #ffffff;
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
}
body {
  background: #ffffff url("img_tree.png") no-repeat right top;
}


/* The background property is a shorthand property for the following properties:

background-color
background-image
background-position
background-size
background-repeat
background-attachment
background-origin
background-clip */