*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;

}

html , body {
    height: 100%;
    width: 100%;

}

/*#main {
    width: 50%;
    height: 50%;
    margin: 100px ;
    padding: 40px 40px 40px 50px;
    background-color: rgb(87, 153, 224);
}*/

/*#main {
    width: 100%;
    height: 100%;
    color: black;
    background-image: url("Background_css.jpg");
    background-size: cover;
    background-position: center;
}*/

/*#car1 {
    width: 50%;
    height: 20%;
    background-color: lightblue;

}

#car2 {
    width: 40%; 
    height: 15%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: lightcyan;

}

#car3 {
    width: 30%;
     height: 10%;
    background-color: lightcoral;
}

#box {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: beige;

}
#small {
    width: 200px;
    height: 200px;
    position:absolute;
    left:20%;
    background-color:lightgreen ;
}*/


#box {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 50%;
    background-color: black;
    
}

#box1 {
    width: 20%;
    height: 20%;
    background-color: blanchedalmond;

}

#box2 {
    width: 20%;
    height: 20%;
    background-color: aquamarine;

}

#box3 {
    width: 20%;
    height: 20%;
    background-color: antiquewhite;

}
